* {
  --font-headers: "Balsamiq Sans", cursive;
  --font-texts: "Neucha", cursive;
  --font-buttons: "Amatic SC", cursive;
  --color-gray-100: #ffffff;
  --color-gray-200: #f3f3f3;
  --color-gray-300: #e8eaea;
  --color-gray-600: #96a6ab;
  --color-gray-900: #343433;
  --color-condition-done: #68cd77;
  --color-condition-warning: #ffa030;
  --color-condition-error: #cd7368;
  --color-accent-yellow: #f9d953;
  --color-accent-blue: #4c64b4;
}

body,
html {
  height: 100%;
  font-size: 16px;
  color: var(--color-gray-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  margin: 0.5rem 0;
}

p {
  font-family: var(--font-texts);
  margin: 0.5rem 0;
}

button,
input[type="button"],
input[type="submit"] {
  font-family: var(--font-buttons);
}

#root {
  display: grid;
  height: 100%;
  grid-template: 120px 1fr 120px / 1fr;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.app-header {
  background-color: var(--color-accent-yellow);
  display: flex;
  align-items: center;
}

.app-header .container {
  display: flex;
  justify-content: space-between;
}

.app-main {
  background-color: var(--color-gray-200);
}

.app-footer {
  background-color: var(--color-gray-300);
  color: var(--color-gray-600);
}

.bag-page-link {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}

.bag-page-link span {
  position: absolute;
  right: -5%;
  top: 10%;
  font-size: 1em;
  padding: 0.2em;
  border-radius: 50%;
  line-height: 1em;
  min-width: 1em;
  color: var(--color-gray-100);
  background-color: var(--color-condition-error);
  font-family: var(--font-headers);
  text-align: center;
}

.bag-page-link svg {
  fill: var(--color-gray-900);
}

/* buttons */
.btn {
  background-color: var(--color-accent-yellow);
  border: none;
  height: 3rem;
  font-size: 1.875rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

/* card items */
.card-items-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 406px;
  gap: 40px 20px;
  margin: 20px 0;
}

.card-item {
  background-color: var(--color-gray-100);
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto auto;
  text-align: center;
  grid-column-gap: 1.5rem;
  padding: 1rem;
}

.card-item__thumbnail {
  background-color: var(--color-gray-200);
  width: 100%;
  height: 100%;
}

.card-item__thumbnail img {
  object-fit: cover;
}

.card-item__thumbnail svg {
  fill: var(--color-gray-900);
  margin-top: 50%;
  width: 50%;
  height: 50%;
  transform: translateY(-50%);
}

.card-item__price {
  font-size: 1.75rem;
}

.card-item__name {
  font-size: 1.25rem;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--color-gray-100);
  width: 80vw;
  max-width: 400px;
  padding: 2rem 1rem;
  text-align: center;
}

.card-item-list__modal {
  display: grid;
  gap: 1rem;
}

.card-item-list__modal-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-size: larger;
}

.card-item-list__modal-ctrl {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
